body {
	background-color:black;
}
.navbar {
	color:white;
	text-align:center;
	

}
.navbara {
	color:white;
	text-align:center;
	font-size:33;
	display:inline-block;
	padding-top:33px;
	padding-left:33px;

}
.merch {
	font-size:33;
	color:white;
	border:solid;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.test {
	color:white;
	text-align:center;
	font-size:20;
	text-decoration:underline;
	text-decoration-color:#B9353E;
	text-decoration-style:double;

}
.test1 {
	color:white;
	text-align:center;
	font-size:20;
}
.container {
	border:solid;
	color:white;
	padding:15px;
	border-radius:5%
}
.embed {
	border-radius:5%
}
.buynow {
	font-size:22;
	color:white;
	border:solid;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.bp {
	text-decoration:line-through;
	text-decoration-color:#B9353E;
}
/*test*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 19%;
padding:10px;
  
}
.columnt {
  float: left;
  width: 49%;
padding:10px;
  
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
.columnt img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}
.columnt img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container123 {
	position: relative;
	display: none;
	border:solid;
	color:white;
	padding:0px;
	margin-right:33%;
	margin-left:33%;
	
	
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.gimg {
	margin: auto;
	width: 50%;
	padding: 10px;
	height:10%
}