body {
	background-color:black;
}
.navbar {
	color:white;
	text-align:center;
	

}
.navbara {
	color:white;
	text-align:center;
	font-size:33;
	display:inline-block;
	padding-top:33px;
	padding-left:33px;

}
.merch {
	font-size:33;
	color:white;
	border:solid;
	padding:10px;
}
.test {
	color:white;
	text-align:center;
}